<section class="blog" id="blg">
    <div class="container">
        <h1>Our Blog</h1>
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-md-5 col-md-offset-1 blog_img_wrap">
                <img src="img/blog1.jpg" alt="blog1">
            </div>
            <div class="col-xs-12 col-md-5 blog_desc_wrap">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                <a href="#" class="blg_link">more...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-6 blog_img_wrap">
                <img src="img/blog2.jpg" alt="blog2">
            </div>
            <div class="col-xs-12 col-md-5 col-md-pull-4 blog_desc_wrap">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                <a href="#" class="blg_link">more...</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 blog_img_wrap">
                <img src="img/blog3.jpg" alt="blog3">
            </div>
            <div class="col-md-5 blog_desc_wrap">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                <a href="#" class="blg_link">more...</a>
            </div>
        </div>
    </div>
</section>