<section class="testimonials">
    <div class="container">
        <h1>Testimonials</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                <div class="row testims_wrap">
                    <div class="col-xs-8 col-sm-4 col-md-4 col-xs-offset-2 col-sm-offset-0">
                        <img src="img/testims1.jpg" alt="man1">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        <span class="testims_auth">Mike and Ann</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row testims_wrap">
                    <div class="col-xs-8 col-sm-4 col-md-4 col-xs-offset-2 col-sm-offset-0">
                        <img src="img/testims2.jpg" alt="man2">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        <span class="testims_auth">Jane</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 ">
                <div class="row testims_wrap">
                    <div class="col-xs-8 col-sm-4 col-md-4 col-xs-offset-2 col-sm-offset-0">
                        <img src="img/testims3.jpg" alt="man3">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        <span class="testims_auth">Sean</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row testims_wrap">
                    <div class="col-xs-8 col-sm-4 col-md-4 col-xs-offset-2 col-sm-offset-0">
                        <img src="img/testims4.jpg" alt="man4">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."</p>
                        <span class="testims_auth">Sara and John</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>